@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Today's Transactions</h2>
        <p>
            10
        </p>

    </div>
    <div class="col-md-4">
        <h2>Completed Transactions</h2>
        <p>8</p>

    </div>
    <div class="col-md-4">
        <h2>Pending Transactions</h2>
        <p>2</p>

    </div>
</div>